# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"

# DEBUG Settings
# DEBUG	            - Enables/disables specific debugging namespaces.
# DEBUG_COLORS	    - Whether or not to use colors in the debug output.
# DEBUG_DEPTH	      - Object inspection depth.
# DEBUG_HIDE_DATE	  - Hide date from debug output (non-TTY).
# DEBUG_SHOW_HIDDEN	- Shows hidden properties on inspected objects.
# More info https://github.com/jm-monorepo/jm-monorepo/blob/main/docs/env.md
# DEBUG=@jm-monorepo:*,@jm-apps:*
DEBUG_COLORS=true
DEBUG_DEPTH=2
DEBUG_HIDE_DATE=true
DEBUG_SHOW_HIDDEN=false
DEBUG=@jm-monorepo:*,@jm-apps:*
